.theading {
  /* border-top: 1px solid #8080804d; */
  /* color: gray; */
  /* border-right: 2px solid white; */
  /* border-left: 2px solid white; */
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-family: Arial, sans-serif
}
.heading{
  border-bottom: 1px solid black;
  font-weight: 600;
  font-family: Arial, sans-serif;
}
.tr-data {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  
}
/* .bodyT{
  margin-top: 20px;
} */